
    #header{
        background-color: rgb(189, 4, 4);
        color: white;
        top: 0px;
        left: 0px;
        position: absolute;
        height: 100px;
        width: 100%;
        font-weight: bold;
        text-align: center;
        font-size: 35px;
        }

.v_logo{
        top: 100px;
        left: 0px;
        position: absolute;
        height: 50px;
        width: 25%;
        border-bottom: 1px solid;
    
} 

.hlogo{
        padding-left: 20px;
        height: 90%;
        width: auto;
}  

    .menu{
        top: 100px;
        left: 25%;
        position: absolute;
        height: 50px;
        width: 80%;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid;
        }

.menu ul{     
        text-align: right;
        margin-top: 9px;
        margin-bottom: 0px;
        padding-right: 6.5%;
        overflow: hidden;
}

.menu ul li{  
       list-style: none;
       display: inline;
       margin: 5px;
       padding: 5px;
}

  .menu ul  a{
       text-decoration: none;
       background-color: black;
       color: white; 
       border-radius: 5px;
       display: inline-block;
       padding: 5px 6px;
       font-size: 17px;
}
 .menu ul a:hover{
       background-color: rgb(189, 4, 4); 
       color: white; 
       transition: 3sec; 
}

    .l_menu{
        top: 100px;
        left: 25%;
        position: absolute;
        height: 50px;
        width: 80%;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid;
        }

.l_menu ul{     
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-right: 7%;}


    
    #lsb{
       background-color:white;
        top: 152px;
        left: 0px;
        position: absolute;
        height: 847px;
        width: 25%;
        text-align: center;
        font-size: 18px;
        float: left;
        border-right: 1px solid;
        border-bottom: 1px solid;
        
    }

#rsb{
    background-color:white;
        top: 152px;
        left: 75%;
        position: absolute;
        height: 847px;
        width: 25%;
        text-align: center;
        font-size: 25px;
        float: left;
        border-bottom: 1px solid;
        border-left: 1px solid;
    }
.notice_pic{
    width: 90%;
    height: 300px;
}

.para{
    text-align: left;
    font-size: 18px;
}

 .tbl{
     margin-top: 10px;
     margin-left: 10%;
}
    
    #cnt{
        background-color:white;
        top: 152px;
        left: 25%;        
        position: absolute;
        height: 847px;
        width: 50%;
        text-align: center;
        font-size: 15px;
        float: right;
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-right: 1px solid;
        }

.versity_pic{
    height: 300px;
    width: 100%;
}

#info{
    text-align: center;
    
}

.p_info{
    border-bottom-color:#bd0404;
    color: white;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 17px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-top: 30px;
    margin-left: 30px;
}

.p_p_p{
    
    margin-top: 100px;
}

.p_p{
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    text-decoration: none;
}

#first{
        background-color: rgb(0, 0, 0);
        color: white;
        top: 1000px;
        left: 0px;
        position: absolute;
        height: 300px;
        width: 25%;
}

.f_logo{
    left: 30px;
    top: 30px;
    position: absolute;
    border: 2px solid #fff;
    border-color: #363636;
    max-width: 90%;
    height: auto;
    border-radius: 50%;
}

#second{
        background-color: rgb(0, 0, 0);
        color: white;
        top: 1000px;
        left: 25%;
        position: absolute;
        height: 300px;
        width: 25%;
}

#third{
        background-color: rgb(0, 0, 0);
        color: white;
        top: 1000px;
        left: 50%;
        position: absolute;
        height: 300px;
        width: 25%;
}

#forth{
        background-color: rgb(0, 0, 0);
        color: white;
        top: 1000px;
        left: 75%;
        position: absolute;
        height: 300px;
        width: 25%;
}

    
    #footer{
        background-color: rgb(32, 32, 32);
        color: white;
        top: 1300px;
        left: 0px;
        position: absolute;
        height: 80px;
        width: 70%;
        font-size: 18px;
    }

.p_f{
    margin-top: 30px;
    margin-left: 30px;
}

#s_logo{
        background-color: rgb(32, 32, 32);
        color: white;
        top: 1300px;
        left: 70%;
        position: absolute;
        height: 80px;
        width: 30%;
        text-align: right;
}

.slogo{
    margin-right: 10px;
}

.fa{
  
  margin-top: 10px;
  padding: 20px;
  font-size: 30px;
  height: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* Instagram */
.fa-instagram{
  background: #125688;
  color: white;
}

/* Linkedin */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.notice{
    background-color: rgb(189, 4, 4);
    color: white;
    }
    
/********************CSS for signup Page**************************/

/*body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}*/

.bg_clr{
    text-align: left;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: rgb(5, 152, 98);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: rgb(189, 4, 4);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 0px 16px 16px 16px;
  text-align: left;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
/********************CSS for signup Page END**************************/



/*************************About page CSE****++++**********************/

.zoom {
  height: 300px; 
  width: 100%;
  transition: transform 1s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.about_h2{
    margin-top: 20px;
}

.about_p{
    font-size: 18px;
    text-align: left;
    margin: 0px 10px 0px 10px;
    line-height: 25px;
}

/*************************About page CSE END****++++**********************/


/*************************Contact page CSE****++++**********************/
.con_p{
    font-size: 18px;
}

 .service_tbl{
     margin-top: 10px;
     margin-left: 15px;    
}

.th_bg{
    background-color: rgb(189, 4, 4);
    color: white;
}

/*************************Contact page CSE****++++**********************/












